$head-color: white;
$head-font: Baloo;
$side-font: Roboto;
// Light
@import "modules/_colors";
@import "modules/_basic";
@import "modules/_dimensions";
@import "modules/_colors";
@import "modules/_basic";
@import "modules/_dimensions";
@import "partials/_content";
@import "partials/_buttons";
@import "partials/_paper";
@import "partials/_inputs";
@import "partials/_exit";

// index.ejs

.content {
    position: relative;

    // Center align content in .content
    height: 89vh;
    margin-top: 11vh;
    margin-left: $side-width;

    text-align: center;

    &>.frame {
        position: absolute;

        // Center allign frame
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 89%; //.content margin-top = 11 -> 11-100=89

        &>div {
            z-index: 0;
        }

        &.frame-center {
            transform: translateX(0%) !important;

            opacity: 1 !important;
        }

        &.frame-right {
            transform: translateX(100%) !important;

            opacity: 0 !important;
        }

        &.frame-left {
            transform: translateX(-100%) !important;

            opacity: 0 !important;
        }
    }

    &>.float {
        z-index: 1;

        transition-delay: 0s;
        transition-duration: 0.5s;
        transform: translateX(100%);

        opacity: 0;
    }
}

// nav.ejs

#head {
    position: absolute;
    z-index: 3;

    width: 100vw;
    height: $head-height;

    background: $head-color;

    @include box-shadow(0 3px 8px -4px rgba(0,0,0,0.25));

    &>a {
        margin-left: 32px;

        color: $head-color-title;

        font-family: $head-font;
        font-size: 24px;
        line-height: $head-height;
    }
}

#slider {
    position: absolute;
    z-index: 1;

    width: 100vw;
    height: $slider-height;
    margin-top: $head-height;

    transition-delay: 0s;
    transition-duration: 0.5s;
    // TODO: modulerise

    opacity: 0.9;
    // Gradient
    background: rgba(255,123,0,1);
    background: -moz-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,123,0,1)), color-stop(100%, rgba(206,73,28,1)));
    background: -webkit-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: -o-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: linear-gradient(to bottom, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#ff7b00', endColorstr='#ce491c', GradientType=0 );
    // TODO: modeulerise

    &.slider-active {
        height: 100vh !important;
    }
}

#guide {
    position: absolute;
    z-index: 2;

    width: $side-width;
    height: 100vh;

    background: #F7F7F7;

    &>.row {
        display: block;

        padding: 8px 32px;

        cursor: pointer;

        color: #888888;

        &>i {
            display: inline-block;

            vertical-align: middle;

            font-size: 24;
        }

        &>h2 {
            display: inline-block;

            margin-left: 8px;

            font-family: $side-font;
            font-size: 12px;
            font-weight: normal;
        }

        &.selected {
            cursor: pointer;

            &>h2 {
                color: #525252;

                font-weight: bold;
            }

            &>i {
                color: #D1461C;
            }
        }

        &.disabled {
            cursor: not-allowed;
        }

        &:hover {
            background: #F2F2F2;
        }

        &:first-child {
            display: block;

            margin-top: $head-height;
        }

    }
}

// locked.ejs

#locked {
    &>div {
        display: block;

        margin: 8px auto;

        text-align: center;

        &>i {
            display: inline-block;

            color: #525252;

            font-size: 128px;
        }
    }
}

// vault.ejs

#vault {
    display: block;

    width: 100%;
    height: auto;

    text-align: center;

    &>.main {
        max-width: 800px;
        margin: auto;
        padding-top: 32px;
        padding-right: 16px;
        padding-left: 16px;
        &>h2 {
            text-align: left !important;

            color: #525252;

            font-weight: bold;
        }
    }
}

#receive {
    &>div {
        &>.paper {
            &>#qrcode {
                &>img {
                    width: 50%;
                    margin: auto;
                }
            }
            &>.form {
                &>input {
                    width: 100%;
                }
            }
        }
    }
}

.crypto-list-container {
    overflow: scroll;

    width: 100%;
    padding: 4px 0px 16px 0px;

    &>#crypto-list {
        display: block;
        overflow: visible;

        max-width: 800px;
        margin: auto;
        padding: 0px 0px;

        text-align: center;
        white-space: nowrap;

        &>.one { // first container
            &>.two { // second container
                left: 0;

                white-space: nowrap;
                // .paper-crypto -> _paper.scss

            }
        }
    }
}

.balance {
    width: 90%;
    margin: auto;
    margin-bottom: 32px;

    text-align: left;
    &>h3 {
        color: #525252;
    }
    &>.crypto-balance {
        &>span:first-child {
            color: #13A768;

            font-size: 32px;
            font-weight: bold;
        }
        &>span:last-child {
            color: #525252;

            font-size: 32px;
            font-weight: lighter;
        }
    }
    &>.native-balance {
        &>span:first-child {
            color: #525252;

            font-size: 18px;
            font-weight: bold;
        }
        &>span:last-child {
            color: #525252;

            font-size: 18px;
            font-weight: lighter;
        }
    }
}

#send {
    &>.balance {
        text-align: center;
    }
    .paper {
        text-align: center;
    }
    input {
        width: 100%;
    }
    button {
        margin: 16px;
    }
}


.cyrpto-balance, .native-balance {
    display: inline-block;

    text-align: center;
}

.txs {
    max-width: 800px;
    margin: auto;
    padding: 16px;

    text-align: left;
    h2 {
        padding: 16px;
    }
    .tx-filters {
        display: flex;
        flex-basis: 0;
        flex-direction: row;

        width: 100%;
        max-width: 400px;
        padding: 8px 0px 0px 0px;

        cursor: pointer;
        text-align: center;

        &>div {
            flex-grow: 1;

            text-align: center;
        }
        &>div.filter-selected {
            border-bottom: 4px solid black;
        }
    }
}

// http://the-echoplex.net/flexyboxes/?display=flex&flex-direction=row&flex-wrap=nowrap&justify-content=flex-start&align-items=flex-start&align-content=stretch&order%5B%5D=0&flex-grow%5B%5D=0&flex-shrink%5B%5D=1&flex-basis%5B%5D=auto&align-self%5B%5D=auto&order%5B%5D=0&flex-grow%5B%5D=1&flex-shrink%5B%5D=1&flex-basis%5B%5D=auto&align-self%5B%5D=auto
.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    }

.flex-item:nth-child(1) {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    }

.flex-item:nth-child(2) {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    }

.tx {
    width: 100%;
    padding: 8px;

    border-top: 1px solid rgba(169, 180, 213, 0.25);
    &>div {
        position: relative;
    }
    .left {
        min-width: 0; //https://stackoverflow.com/questions/26465745/ellipsis-in-flexbox-container
        .tx-id {
            overflow: hidden;

            text-overflow: ellipsis;

            color: #525252;

            font-size: 10px;
            font-weight: bold;
        }
    }
    .right {
        margin-left: 8px;

        text-align: right;
        white-space: nowrap;
        .plus {
            display: inline-block;

            vertical-align: top;

            color: #13A768;

            font-size: 12px;
            font-weight: bold;
        }
        .sub {
            display: inline-block;

            vertical-align: top;

            color: #a71313;

            font-size: 12px;
            font-weight: bold;
        }
        .value {
            display: inline-block;

            vertical-align: top;

            color: #525252;

            font-size: 12px;
            font-weight: normal;
        }
    }
    .date {
        color: #A8A8A8;

        font-size: 12px;
        font-weight: bold;
    }
}


// swap.ejs

.crypto-swap {
    z-index: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
}

.crypto-swap>div>input {
    display: block;
}

.paper-crypto {
    position: relative;

    cursor: pointer;
    text-align: center;
}

img {
    width: 96px;
}

div {
    position: relative;

    text-align: left;
}

.switch {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 50%;

    transform: translateX(-50%);
}

.switch>i {
    color: #525252;

    font-size: 48px;
}

.crypto-swap {
    .paper-crypto {
        background: none;
    }
}


#crypto-select {
    background: none;

    &>div {
        position: absolute;
        top: 0;

        width: 80%;

        background: none;

        &>.exit {
            width: 100%;
        }
        &>.paper {
            width: 100%;
            margin: 0;
            padding: 0;

            background: none;
            box-shadow: none;

            &>.crypto-list-container {
                display: flex;
                flex-wrap: wrap;

                width: 100%;
                .paper-crypto {
                    flex-grow: 1;

                    margin: 8px;
                }
            }
        }
    }
}
