@import "main.scss";

#head {
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: $head-height;
    background: $head-color;
    @include box-shadow(0 3px 8px -4px rgba(0,0,0,0.25));

    & > a {
        margin-left: 32px;
        color: $head-color-title;
        font-family: $head-font;
        font-size: 24px;
        line-height: $head-height;
    }
}

#slider {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: $slider-height;
    margin-top: $head-height;
    transition-delay: 0s;
    transition-duration: 0.5s;
    opacity: 0.9;
    // Gradient
    background: rgba(255,123,0,1);
    background: -moz-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,123,0,1)), color-stop(100%, rgba(206,73,28,1)));
    background: -webkit-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: -o-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: linear-gradient(to bottom, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#ff7b00', endColorstr='#ce491c', GradientType=0 );
    &.slider-active {
        height: 100vh !important;
    }
}

#guide {
    position: absolute;
    z-index: 2;
    width: $side-width;
    height: 100vh;
    background: #F7F7F7;

    & > .row {
        display: block;
        padding: 8px 32px;
        cursor: pointer;
        color: #888888;

        & > i {
            display: inline-block;
            vertical-align: middle;
            font-size: 24;
        }

        & > h2 {
            display: inline-block;
            margin-left: 8px;
            font-family: $side-font;
            font-size: 12px;
            font-weight: normal;
        }

        &.selected {
            cursor: pointer;

            & > h2 {
                color: #525252;
                font-weight: bold;
            }

            & > i {
                color: #D1461C;
            }
        }

        &.disabled {
            cursor: not-allowed;
        }

        &:hover {
            background: #F2F2F2;
        }

        &:first-child {
            display: block;
            margin-top: $head-height;
        }
    }
}
