@import "main.scss";

.crypto-swap {
    z-index: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.crypto-swap > div > input {
    display: block;
}

.paper-crypto {
    position: relative;
    cursor: pointer;
    text-align: center;
}

img {
    width: 96px;
}

div {
    position: relative;
    text-align: left;
}

.switch {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.switch > i {
    color: #525252;
    font-size: 48px;
}

.crypto-swap {
    .paper-crypto {
        background: none;
    }
}

#crypto-select {
    background: none;

    & > div {
        position: absolute;
        top: 0;
        width: 80%;
        background: none;

        & > .exit {
            width: 100%;
        }

        & > .paper {
            width: 100%;
            margin: 0;
            padding: 0;
            background: none;
            box-shadow: none;

            & > .crypto-list-container {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                .paper-crypto {
                    flex-grow: 1;
                    margin: 8px;
                }
            }
        }
    }
}
