<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <!-- Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="/vendors/qrcode/qrcode.min.js" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:light,regular,bold" rel="stylesheet">
    <!-- Styles -->
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/locked.css' />
    <link rel='stylesheet' href='/css/swap.css' />
    <link rel='stylesheet' href='/css/vault.css' />
    <link rel='stylesheet' href='/css/nav.css' />
    <!-- Browserify Scripts -->
    <script src="/javascript/bundles/bundle.js" charset="utf-8"></script>
    <script src="/javascript/bundles/bundle2.js" charset="utf-8"></script>
    <script src="/javascript/bundles/bundle3.js" charset="utf-8"></script>
    <!-- General Scripts -->
    <script src="/javascript/main.js" charset="utf-8"></script>
    <!-- Event Listeners -->
    <script src="/javascript/event_listeners/locked.js" charset="utf-8"></script>
    <script src="/javascript/event_listeners/nav.js" charset="utf-8"></script>
    <script src="/javascript/event_listeners/vault.js" charset="utf-8"></script>
    <script src="/javascript/event_listeners/swap.js" charset="utf-8"></script>
</head>

<body>
    <div style="position: fixed; z-index: 1; top: 0px;">
        <%- include nav %>
    </div>
    <div class="content">
    </div>
</body>

</html>
