<div id="unlock" class="frame float frame-right">
    <div>
        <div class="exit right"><i class="material-icons">close</i></div>
        <div class="paper">
            <h2>UNLOCK VAULT</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="form">
                <label>VAULT KEY:</label>
                <textarea name="name" rows="4"></textarea>
                <div class="button-container">
                    <button class="inline-block" id="unlock-button-confirm" type="button" name="button">UNLOCK VAULT</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="create" class="frame float frame-right">
    <div>
        <div class="exit right"><i class="material-icons">close</i></div>
        <div class="paper">
            <h2>CREATE VAULT</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="form">
                <textarea class="deselect" readonly name="name" rows="4">beg machine leg king dust paradise everywhere stomach needle own ice sea</textarea>
                <div class="button-container">
                    <button class="inline-block" id="create-button-confirm" type="button" name="button">CREATE VAULT</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="locked" class="frame">
    <div>
        <i class="material-icons">lock</i>
        <div class="button-container">
            <button id="unlock-button" type="button" name="button" class="block">UNLOCK VAULT</button>
            <button id="create-button" type="button" name="button" class="secondary block">CREATE VAULT</button>
        </div>
    </div>
</div>
