<div id="crypto-select" class="frame float frame-right">
    <div>
        <div class="exit right"><i class="material-icons">close</i></div>
        <div class="paper">
            <div class="crypto-list-container">
                <div class="paper-crypto">
                    <img src="/images/btc.png" alt="">
                    <h2>Bitcoin</h2>
                </div>
                <div class="paper-crypto">
                    <img src="/images/eth.png" alt="">
                    <h2 class="coming-soon">Coming Soon</h2>
                </div>
                <div class="paper-crypto">
                    <img src="/images/ltc.svg" alt="">
                    <h2>Litecoin</h2>
                </div>
                <div class="paper-crypto">
                    <img src="/images/xmr.png" alt="">
                    <h2 class="coming-soon">Coming Soon</h2>
                </div>
                <div class="paper-crypto">
                    <img src="/images/doge.png" alt="">
                    <h2 class="coming-soon">Coming Soon</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="swap" class="frame">
    <div>
        <div class="switch">
            <i class="material-icons">swap_horiz</i>
        </div>
        <div class="crypto-swap">
            <div>
                <div id="right-coin" class="paper-crypto swap">
                    <img src="/images/ltc.svg" alt="">
                    <h2>Litecoin</h2>
                </div>
                <div class="form">
                    <label>SEND:</label>
                    <input id="swap-send-amount" type="text" name="" placeholder="0.00000000">
                    <input id="swap-send-amount-native" type="text" name="" value="0.00" class="deselect" disabled>
                </div>
            </div>
            <div>
                <div id="left-coin" class="paper-crypto swap">
                    <img src="/images/btc.png" alt="">
                    <h2>Bitcoin</h2>
                </div>
                <div class="form">
                    <label>RECEIVE:</label>
                    <input id="swap-receive-amount" type="text" name="" value="0.00000000" class="deselect" disabled>
                    <input id="swap-receive-amount-native" type="text" name="" value="0.00" class="deselect" disabled>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button class="inline-block" id="swap-button" type="button" name="button">SWAP</button>
        </div>
    </div>
</div>
