<div id="swap" class="frame">
    <div>
        <div class="crypto-swap">
            <div>
                <div class="paper-crypto swap">
                    <div class="switch">
                        <i class="material-icons">swap_horiz</i>
                    </div>
                    <img src="/images/btc.png" alt="">
                    <h2>Bitcoin</h2>
                </div>
                <div class="form">
                    <label>SEND:</label>
                    <input type="text" name="" value="">
                    <input type="text" name="" value="" class="deselect">
                </div>
            </div>
            <div>
                <div class="paper-crypto swap">
                    <img src="/images/ltc.svg" alt="">
                    <h2>Litecoin</h2>
                </div>
                <div class="form">
                    <label>RECEIVE:</label>
                    <input type="text" name="" value="" class="deselect">
                    <input type="text" name="" value="" class="deselect">
                </div>
            </div>
        </div>
        <div class="button-container">
            <button class="inline-block" type="button" name="button">SWAP</button>
        </div>
    </div>
</div>
