<div id="send" class="frame float frame-right">
    <div>
        <div class="exit right"><i class="material-icons">close</i></div>
        <div class="paper">
            <div class="balance">
                <h3>Total Balance</h3>
                <div class="crypto-balance">
                    <span>0.12345678</span>
                    <span>BTC</span>
                </div>
                <div class="native-balance">
                    <span>1,358.02</span>
                    <span>GBP</span>
                </div>
            </div>
            <div class="form">
                <label>SEND TO:</label>
                <input type="text" name="">
                <label>AMOUNT:</label>
                <input type="text" name="">
                <label>FEE:</label>
                <input type="text" name="">
            </div>
            <div class="button-container">
                <button class="inline-block" type="button" name="button">SEND</button>
            </div>
    </div>
</div>
</div>
<div id="receive" class="frame float frame-right">
    <div>
        <div class="exit right"><i class="material-icons">close</i></div>
        <div class="paper">
                <div id="qrcode"></div>
                <div class="form">
                    <label>Address:</label>
                    <input id="address-string" type="text" name="" class="deselect">
                </div>
        </div>
    </div>
</div>
<div id="vault" style="align-items: initial;" class="frame">
    <div class="main">
        <h2>VAULT</h2>
    </div>
    <div class="crypto-list-container">
        <div id="crypto-list">
            <div class="one">
                <div class="two">
                    <div class="paper-crypto">
                        <img src="/images/btc.png" alt="">
                        <h2>Bitcoin</h2>
                    </div>
                    <div class="paper-crypto">
                        <img src="/images/eth.png" alt="">
                        <h2>Ethereum</h2>
                    </div>
                    <div class="paper-crypto">
                        <img src="/images/ltc.svg" alt="">
                        <h2>Litecoin</h2>
                    </div>
                    <div class="paper-crypto">
                        <img src="/images/xmr.png" alt="">
                        <h2>Monero</h2>
                    </div>
                    <div class="paper-crypto">
                        <img src="/images/doge.png" alt="">
                        <h2>Dogecoin</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="balance">
            <h3>Total Balance</h3>
            <div class="crypto-balance">
                <span>0.12345678</span>
                <span>BTC</span>
            </div>
            <div class="native-balance">
                <span>1,358.02</span>
                <span>GBP</span>
            </div>
        </div>
        <div class="button-container">
            <button id="send-button" type="button" name="button" class="inline-block">SEND</button>
            <button id="receive-button" type="button" name="button" class="secondary inline-block">RECEIVE</button>
        </div>
    </div>
    <div class="txs">
        <h2>TRANSACTIONS</h2>
        <div class="tx-filters">
            <div class="filter-selected">ALL</div><div>RECEIVED</div><div>SENT</div>
        </div>
        <div class="tx-list">
            <div class="tx">
                <div class="flex-container">
                    <div class="left flex-item">
                        <div class="tx-id">
                            86d1b9408aa6fcccfa03c35d110cea4018c0cee2ebc68535cdc5ad401922e496
                        </div>
                    </div>
                    <div class="right flex-item">
                        <div class="plus">
                            +
                        </div>
                        <div class="value">
                            0.01234567
                        </div>
                    </div>
                </div>
                <div class="date">
                    2018-02-11 20:17:04
                </div>
            </div>
            <div class="tx">
                <div class="flex-container">
                    <div class="left flex-item">
                        <div class="tx-id">
                            86d1b9408aa6fcccfa03c35d110cea4018c0cee2ebc68535cdc5ad401922e496
                        </div>
                    </div>
                    <div class="right flex-item">
                        <div class="plus">
                            +
                        </div>
                        <div class="value">
                            0.01234567
                        </div>
                    </div>
                </div>
                <div class="date">
                    2018-02-11 20:17:04
                </div>
            </div>
            <div class="tx">
                <div class="flex-container">
                    <div class="left flex-item">
                        <div class="tx-id">
                            86d1b9408aa6fcccfa03c35d110cea4018c0cee2ebc68535cdc5ad401922e496
                        </div>
                    </div>
                    <div class="right flex-item">
                        <div class="plus">
                            +
                        </div>
                        <div class="value">
                            0.01234567
                        </div>
                    </div>
                </div>
                <div class="date">
                    2018-02-11 20:17:04
                </div>
            </div>
            <div class="tx">
                <div class="flex-container">
                    <div class="left flex-item">
                        <div class="tx-id">
                            86d1b9408aa6fcccfa03c35d110cea4018c0cee2ebc68535cdc5ad401922e496
                        </div>
                    </div>
                    <div class="right flex-item">
                        <div class="plus">
                            +
                        </div>
                        <div class="value">
                            0.01234567
                        </div>
                    </div>
                </div>
                <div class="date">
                    2018-02-11 20:17:04
                </div>
            </div>
            <div class="tx">
                <div class="flex-container">
                    <div class="left flex-item">
                        <div class="tx-id">
                            86d1b9408aa6fcccfa03c35d110cea4018c0cee2ebc68535cdc5ad401922e496
                        </div>
                    </div>
                    <div class="right flex-item">
                        <div class="plus">
                            +
                        </div>
                        <div class="value">
                            0.01234567
                        </div>
                    </div>
                </div>
                <div class="date">
                    2018-02-11 20:17:04
                </div>
            </div>

        </div>
    </div>
</div>
