<div id="send" class="frame float frame-right">
    <div>
        <div class="exit right"><i class="material-icons">close</i></div>
        <div class="paper">
            <div class="balance">
                <h3>Total Balance</h3>
                <div class="crypto-balance">
                    <span></span>
                    <span>BTC</span>
                </div>
                <div class="native-balance">
                    <span>1,358.02</span>
                    <span>GBP</span>
                </div>
            </div>
            <div class="form">
                <label>SEND TO:</label>
                <input id="send-address" type="text" name="" placeholder="ex. mpxhLRAzfGc6tH55kzG9NfZ3b2VZdo3Gq9">
                <label>AMOUNT:</label>
                <input id="send-amount" type="text" name="" value="0">
                <label>FEE:</label>
                <input id="send-fee" type="text" name="" value="0">
            </div>
            <div class="button-container">
                <button id="send-money" class="inline-block" type="button" name="button">SEND</button>
            </div>
    </div>
</div>
</div>
<div id="receive" class="frame float frame-right">
    <div>
        <div class="exit right"><i class="material-icons">close</i></div>
        <div class="paper">
                <div id="qrcode"></div>
                <div class="form">
                    <label>Address:</label>
                    <input id="address-string" type="text" name="" class="deselect" disabled>
                </div>
        </div>
    </div>
</div>
<div id="vault" style="align-items: initial;" class="frame">
    <div class="main">
        <h2>VAULT</h2>
    </div>
    <div class="crypto-list-container">
        <div id="crypto-list">
            <div class="one">
                <div class="two">
                    <div class="paper-crypto selected-crypto" id="bitcoin">
                        <img src="/images/btc.png" alt="">
                        <h2>Bitcoin</h2>
                    </div>
                    <div class="paper-crypto" id="ethereum">
                        <img src="/images/eth.png" alt="">
                        <h2 class="coming-soon">Coming Soon</h2>
                    </div>
                    <div class="paper-crypto" id="litecoin">
                        <img src="/images/ltc.svg" alt="">
                        <h2>Litecoin</h2>
                    </div>
                    <div class="paper-crypto" id="monero">
                        <img src="/images/xmr.png" alt="">
                        <h2 class="coming-soon">Coming Soon</h2>
                    </div>
                    <div class="paper-crypto" id="doge">
                        <img src="/images/doge.png" alt="">
                        <h2 class="coming-soon">Coming Soon</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="balance">
            <h3>Total Balance</h3>
            <div class="crypto-balance">
                <span></span>
                <span>BTC</span>
            </div>
            <div class="native-balance">
                <span>1,358.02</span>
                <span>GBP</span>
            </div>
        </div>
        <div class="button-container">
            <button id="send-button" type="button" name="button" class="inline-block">SEND</button>
            <button id="receive-button" type="button" name="button" class="secondary inline-block">RECEIVE</button>
        </div>
    </div>
    <div class="txs">
        <h2>TRANSACTIONS</h2>
        <div class="tx-filters">
            <div class="filter-selected" id="all">ALL</div><div id="received">RECEIVED</div><div id="sent">SENT</div>
        </div>
        <div class="tx-list">
            No transactions to show :(
        </div>
    </div>
</div>
