button {
    min-width: 150px;
    padding: 8px;

    cursor: pointer;
    transition-delay: 0s;
    transition-duration: 0.5s;

    color: white;
    border: none;
    border-radius: 8px;
    background: rgba(255,123,0,1);
    background: -moz-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,123,0,1)), color-stop(100%, rgba(206,73,28,1)));
    background: -webkit-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: -o-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    background: linear-gradient(to bottom, rgba(255,123,0,1) 0%, rgba(206,73,28,1) 100%);
    -webkit-box-shadow: 0 2px 4px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 4px -3px rgba(0,0,0,0.75);
    box-shadow: 0 2px 4px -3px rgba(0,0,0,0.75);

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-weight: bold;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#ff7b00', endColorstr='#ce491c', GradientType=0 );
}

button.secondary {
    background: none;
    background-color: #525252;

    filter: none;
}

button:hover {
    -webkit-box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.25);
    box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.25);
}
