.exit {
    display: block;

    cursor: pointer;

    i {
        vertical-align: top; // Removes unwanted padding below

        color: white;

        font-size: 24px;
    }

    &.right {
        text-align: right;
    }

}
