input {
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    color: #A8A8A8;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color: #E4E7EF;
    border-width: 2px;
}

textarea {
    resize: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    width: 100%;
    border: none;
    font-size: 14px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 8px;
    border-radius: 8px;
    color: #A8A8A8;
    background-color: white;
    border-style: solid;
    border-color: #E4E7EF;
    border-width: 2px;
}

.deselect {
    border: none;
    background: #525252;
}
