* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: #FDFDFD;
    width: 100%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}
