$guide-row-text-color: #888888;
$guide-row-text-color-selected: #525252;

$guide-row-icon-color: #888888;
$guide-row-icon-color-selected: #D1461C;

$guide-row-background-color: #F2F2F2;

$head-color-title: #FF7600;
